{% extends 'base.html.twig' %}

{% block title %}Advent of Code Result{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>🎄 Hello! 🎄 </h1>

    <p>Your result for day {{ day }} is:</p>
    <h2>Part I: {{ result[0] }}</h2>
    <h2>Part II: {{ result[1] }}</h2>
</div>
{% endblock %}
